*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roslindale Display Condensed";
  background-color: #ffffff;
}

::webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}
